body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/rm-bg.jpg');
  background-size: auto;
}

.characters-container {
  border:solid;
  border-radius: 25px;
  padding: 5%;
  margin-bottom: 5%;
  width: 70%;
  align-items: center;
  display: inline-flex;
  background: #327d8edb;
}

.characters-container h3{
  font-size: 2rem;
}

.characters-container img {
  border: solid #1a3e46db;
  border-radius: 50%;
}

.main-info button {
  background-color: rgb(79, 96, 98);
  font-size: 20px;
  border: solid 2px white;
  border-radius: 25px;
  font-size: 1.3rem;
  padding: 2% 5%;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  transition: 1s all ease-in-out

}

button :hover, :focus {
  background-color: scale-color(rgb(55, 68, 70));
  transition: 1s all ease-in-out
}

.info-container {
  align-self: start;
  width: -webkit-fill-available;
}


@media (max-width: 750px){
  body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/rm-img-2.png');
  background-size: auto;
  }
}