body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/rm-bg.jpg');
  background-size: auto;
  color: whitesmoke;
}

.characters-container {
  border:solid 3px black;
  border-radius: 25px;
  padding: 5%;
  margin-bottom: 5%;
  width: 70%;
  align-items: center;
  display: inline-flex;
  background: #327d8edb;
}

.characters-container h3{
  font-size: 2.2rem;
}

.characters-container img {
  border: solid 2px #1a3e46db;
  border-radius: 50%;
}


.info-container {
  align-self: start;
  width: -webkit-fill-available;
}


@media (max-width: 750px){
  body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/rm-img-2.png');
  background-size: auto;
  font-size: 0.8rem;
  }
  img {
    width: 12em;
  }
  .characters-container {
    background-color: rgba(0, 0, 0, 0.698);
    border: solid 2px #d1d1d1db;
  }
  .characters-container h3{
    font-size: 1.7rem;
  }
  .characters-container img {
    border: solid 2px #d1d1d1db;
    
  }
}