body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/rm-bg.jpg');
  background-size: auto;
}

.characters-container {
  border:solid;
  border-radius: 25px;
  padding: 5%;
  margin-bottom: 5%;
  width: 70%;
  align-items: center;
  display: inline-flex;
  background: #ffffff;
}

.characters-container h3 {
  margin-left: 5%;
}

.characters-container .main-info {
  margin-left: 5%;
}

@media (max-width: 750px){
  body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/rm-img-2.png');
  background-size: auto;
  }
}